.fightPage {
  &__container {
    height: 100vh;
    box-shadow: inset 0px 56px 133px 38px rgba(0,0,0,0.69);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
  }

}

.user-hero{
  left: 12%;
}

.computer-hero{
  right: 12%;
  transform: scaleX(-1);
} 

.computer-hero,
.user-hero{
  position: absolute;
  bottom: 3%;
  width: 14%;
  transition: transform linear 1s;
  will-change: transform;
}