.fightPage {
  &__container {
    height: 100vh;
    box-shadow: inset 0px 56px 133px 38px rgba(0,0,0,0.69);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
  }

}
.computer-hero,
.user-hero{
  position: absolute;
  bottom: 5%;
  width: 14%;
}

.user-hero{
  left: 9%;
}

.computer-hero{
  right: 9%;
  transform: scaleX(-1);
} 