.firstPage {
  &__wrapper {
    background: url('../images/start-bg.gif');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    .fullscreen {
      position: absolute;
      left: 1%;
      top: 2%;
      background: transparent;
      border: none;
      z-index: 10;

      &__svg {
        box-sizing: content-box;
        width: 3vw;
        padding: 4px;
        transition: all ease-in 200ms;

        &:hover {
          width: 4vw;
        }
      }
    }

    .fighting {
      display: block;
      width: 85vh;
      height: 28vh;
      margin: 0 auto;
    }
  }

  &__form {
    margin-top: 20px;

    .start {
      font-family: Mortal, sans-serif;
      font-size: 4.3vw;
      font-weight: 700;
      background-color: #fff;
      text-transform: uppercase;
      width: 26%;
      min-height: 40px;
      height: 8vh;
      margin: 16px auto;
      color: #000;
      text-align: center;
      display: block;
      border: 2px solid #ff4500;
      border-radius: 25px;
      outline: 0;
      cursor: pointer;
    }

    .name {
      width: 28%;
      height: 8vh;
      min-height: 40px;
      font-family: Mortal, sans-serif;
      font-size: 4.3vw;
      font-weight: 700;
      color: #000;
      text-align: center;
      display: block;
      border: 2px solid #ff4500;
      border-radius: 25px;
      font-weight: 400;
      padding: 5px;
      margin: 16px auto;
      outline: 0;
      user-select: all;

      &::placeholder {
        font-family: Mortal, sans-serif;
      }
    }
  }
}

@media (min-width: 1024px) {
  .firstPage {
    &__form {
      .name {
        font-size: 5.6vh;
      }

      .start {
        font-size: 5.6vh;
      }
    }
  }
}