.fight-round {
    height: 20vh;
    width: 100%;
    background-color: rgba(256, 0, 0, 0.8);
    position: relative;

    .fightPage_wrapper {
        height: 100vh;
    }

    .atIcon {
        fill: #ffffff;
        width: 50px;
    }

    input{
        display: none;
    }

    .chIcon {
        fill: #000;
        width: 50px;
    }

    form.attack-defense {
        display: flex;
        margin-left: 5%;
    }

    .form-list {
        list-style: none;
        font-size: 16px;
        position: absolute;
        bottom: -20px;
        left: 20px;
    }

    .form-list{
        margin-bottom: 2px;
    }

    h3.form-title {
        margin-bottom: 10px;
        font-size: 24px;
    }

    div.attack,
    div.defense {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 10px;
    }

    div.attack {
        left: 10%;
    }

    div.defense {
        left: 40%;
    }

    button.punch-button {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: absolute;
        right: 6%;
        bottom: 16px;
        font-size: 14px;
        background-image: url('http://chittagongit.com/download/294339');
        background-repeat: no-repeat;
        background-size: 75px 75px;
    }

    @media(min-width: 768px) {
        .attack,
        .defense {
            position: relative;
        }

        .form-list{
            margin-bottom: 20px;
            margin-left: 6px;
        }

        button.punch-button {
            width: 85px;
            height: 85px;
            font-size: 20px;
        }

        .form-list {
            font-size: 23px;
            display: flex;
        }

        h3.form-title {
            font-size: 28px;
            position: absolute;
            left: 60px;
            bottom: 62px;
        }

        button.punch-button {
            background-size: 80px 80px;
        }

    }

    @media(min-width: 1024px) {

        h3.form-title {
            font-size: 40px;
        }

        button.punch-button {
            width: 100px;
            height: 100px;
            font-size: 24px;
        }

        .form-list{
            margin-bottom: 20px;
            margin-left: 10px;
        }

        .form-list {
            font-size: 28px;
        }

        h3.form-title {
            font-size: 26px;
        }

        button.punch-button {
            background-size: 95px 95px;
        }
    }
}