* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

input[type='radio'] {
  display: none;
}

.secondPage {
  &__submit {
    border: 2px solid #ff4500;
    border-radius: 10px;
  }

  &__container {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    max-height: 100%;
    background: url('../images/secondPage-bg.gif');
    background-size: cover;
    font-family: Mortal;

    .info_fields-section {
      display: flex;
      width: 60%;
      height: 100vh;
      flex-direction: column;

      .fields-section {
        display: flex;
        height: 40%;
        overflow-y: hidden;
        overflow-x: scroll;
        box-shadow: 0px 0px 9px 1px transparent;

        .random-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 200px;
          height: 90%;
          border: 3px solid #f00;
          border-radius: 10px;
          transition: all ease-in-out 200ms;
          background-color: #333;
          margin: 10px;

          & img {
            max-width: 50px;
          }
        }

        .field {
          display: flex;
          min-width: 200px;
          height: 90%;
          border: 3px solid #f00;
          border-radius: 10px;
          transition: all ease-in-out 200ms;
          background-size: cover;
          margin: 10px;

          &__boat {
            background-image: url('../images/arena/boat.gif');
          }
          &__light {
            background-image: url('../images/arena/light.gif');
          }
          &__main {
            background-image: url('../images/arena/main.gif');
          }
          &__train {
            background-image: url('../images/arena/train.gif');
          }
          &__waterfall {
            background-image: url('../images/arena/waterfall.gif');
          }
          &__wind {
            background-image: url('../images/arena/wind.gif');
          }
        }
      }
    }

    body {
      overflow: hidden;
    }

    .fighters-section {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      overflow-x: hidden;
      overflow-y: scroll;
      width: 40%;
      height: 100vh;

      .random-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 220px;
        border: 3px solid #f00;
        border-radius: 10px;
        transition: all ease-in-out 200ms;
        background-color: #333;
        margin: 10px;

        & img {
          max-width: 50px;
        }
      }
    }

    .hero {
      max-width: 100%;
      object-fit: contain;

      &__img {
        width: 20%;
      }

      &__name {
        font-size: 1.7em;
        color: #eeeeee;
        letter-spacing: 5px;
      }

      &__defence {
        font-size: 1em;
        color: #f22;
      }

      &__attack {
        font-size: 1em;
        color: #f22;
      }
    }

    .fighter {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 220px;
      border: 3px solid #f00;
      border-radius: 10px;
      transition: all ease-in-out 200ms;
      background: url('../images/hero-bg.gif') 50% bottom;
      margin: 10px;

      &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 60%;
        padding: 8px;
      }

      &__card {
        display: flex;
        width: 100%;
        height: 80%;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        padding: 10px;
      }
    }
  }
}

@media (min-width: 1024px) {
}
