@keyframes fontbulger {
    0% {
      font-size: 30px;
    }
  
    50% {
      font-size: 35px;
    }
  
    100% {
      font-size: 30px;
    }
  }
  .timer{
    position: relative;
  }
  
  .minutes-set {
    float: left;
    margin-right: 28px;
  }
  
  .seconds-set {
    float: right;
  }
  
  .display-remain-time {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 30px;
    color: rgb(247, 31, 16);
    animation: fontbulger 1s infinite;
    transform: translate(-50%, 0);
    text-align: center;
    position: absolute;
    transform: translate(-50%,0);
    left: 50%;
    top: 30px;
  }
  
  #pause {
    outline: none;
    background: transparent;
    border: none;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    position: relative;
  }
  
  .play::before {
    display: block;
    content: '';
    position: absolute;
    top: 8px;
    left: 16px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 22px solid rgb(247, 31, 16);
  }
  
  .pause::after {
    content: '';
    position: absolute;
    top: 8px;
    left: 12px;
    width: 15px;
    height: 30px;
    background-color: transparent;
    border-radius: 1px;
    border: 5px solid rgb(247, 31, 16);
    border-top: none;
    border-bottom: none;
  }
  
  #pause:hover {
    opacity: 0.8;
  }
  
  .e-c-base {
    fill: none;
    stroke: #5949e9;
    stroke-width: 4px;
  }
  
  .e-c-progress {
    fill: none;
    stroke: rgb(247, 31, 16);
    stroke-width: 4px;
    transition: stroke-dashoffset 0.7s;
  }
  
  .e-c-pointer {
    fill: #fff;
    stroke: rgb(247, 31, 16);
    stroke-width: 2px;
  }
  
  #e-pointer {
    transition: transform 0.7s;
  }
  
  svg.decrease {
    width: 100px;
    position: absolute;
    transform: translate(-50%,0);
    left: 50%;
  }